* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    align-items: center;
    height: 60px;
    /* debug */
    background-color: rgb(143, 197, 245);
}


/* logo */

div.logo {
    padding: 6px;
    width: 20%;
    /* debug */
    border: var(--dashed-bord);
    background-color: rgb(221, 170, 3);
}

/* navigation bar */

nav.header {
    padding: 6px;
    width: 60%;
    /* debug */
    background-color: rgb(221, 170, 3);
    border: var(--dashed-bord);
}

nav.header li {
    list-style-type: none;
}

nav.header ul.flex {
    justify-content: center;
    gap: 10px;
}

/* login menu */

a.log {
    
    padding: 6px;
    text-align: right;
    width: 20%;
    /* debug */
    background-color: rgb(221, 170, 3);
    border: var(--dashed-bord);
}

/* MAIN */

.main-head {
    align-items: center;
    /* debug */
    height: 300px;
    background-color: rgb(7, 7, 158);
}

.main-head-content {
    width: 80%;
    margin: 0 auto;
    /* debug */
    height: 250px;
    border: var(--dashed-bord);
    background-color: rgb(237, 98, 250);
}

/* body content */

div.row > div.container {
    align-items: center;
    height: 330px;
}

.row {
    height: 330px;
    /* debug */
}

.row-img {
    width: 60%;
    height: 280px;
    /* debug */
    background-color: rgb(13, 105, 243);
    border: var(--dashed-bord);
}

.row-text {
    width: 40%;
    height: 280px;
    /* debug */
    border: var(--dashed-bord);
    background-color: pink;
}

main div.row:nth-of-type(odd) {
    background-color: rgb(230, 191, 191);
}

.last-row {
    height: 600px;
    align-items: center;
    /* debug */
    background-color: rgb(230, 191, 191);
}

div.big-content {
    height: 540px;
    /* debug */
    border: var(--dashed-bord);
    background-color: rgb(4, 117, 0);
}

/* FOOTER */

footer {
    background-color: black;
}

/* main section */

div.footer-row {
    padding: 10px 0 20px;
    height: 330px;
    border-bottom: 2px solid grey;
}

.footer-content {
    height: 300px;
    width: calc((100% / 6) * 2);
    background-color: #F08080;
    border: var(--dashed-bord);
}

.footer-element {
    height: 300px;
    width: calc(100% / 6);
    background-color: rgb(0, 156, 177);
    border: var(--dashed-bord);
}

/* footer navigation bar */

nav.footer-nav > * {
    background-color: grey;
    border: var(--dashed-bord);

}

footer nav.flex {
    padding: 10px 0;
    margin-top: 10px;
    justify-content: space-between;
    background-color: lightgreen;
}

div.footer-logo {
    padding: 0 6px;
}

nav.flex button {
    padding: 0 6px;
}

/* COMMON */

.flex{
    display: flex;
}

.container {
    margin: 0 auto;
    width: 800px;
    /* debug */
}

li > a, a.log {
    text-decoration: none;
    color: black;
}

/* VARIABLES */

:root {
    --dashed-bord: 1px dashed black;
}